--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

gradio
huggingface-hub
trimesh
rembg
transformers
diffusers
accelerate
xatlas
opencv-python
pillow
rembg
git+https://github.com/NVlabs/nvdiffrast/
